@import url(_var.css);
@import url(_reset.css);

html {


}

body { 
    font-family: var(--family-body);
    font-size: var(--size-body);
    color: var(--purple-600);
}

header, .banner {
    background-color: rgba(var(--purple-100), 0.15);
}

.banner__desktop {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    padding: 2rem 0 5rem 0 ;
}

.banner__text {
    max-width: 580px;
}

.banner__text--small {
    font-size: 0.875rem;    
}

.banner__text--big {
    font-size: 3rem;
    margin-bottom: 2rem;
}

nav {
    max-width: 1180px;
    margin: 0 auto;
    padding: 2.5rem 0;
}

ul, li {
    font-size: var(--size-menu);
    font-weight: var(--weight-menu);
    line-height: var(--height-menu);

    text-align: right;
}

ul {
    margin-right: 4.75rem;
}

li {
    display: inline-block;
    padding: 1rem;
}

li:hover {
    font-weight: var(--weight-menu_hover);
    cursor: pointer;
}

img {
    im

}


h1 {
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
    line-height: var(--height-h1);
}

h2 {
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
    line-height: var(--height-h2);
}
