@import url(reset.css);
@import url(var.css);

body {
  font-family: var(--family-body);
  font-size: var(--size-body);
  color: var(--purple-600);
}

.topbar > a {
  color: white;
}

header,
.banner,
#elixir {
  background-color: rgba(var(--purple-100), 0.15);
}

.nav__desktop {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2.5rem 1rem 2.5rem 1rem;
}

.nav__desktop--menu,
nav > ul > li > a,
footer > div > ul > li > a,
footer > div > div > div > p > a,
footer > div > div > p > a {
  font-size: var(--size-menu);
  font-weight: var(--weight-menu);
  line-height: var(--height-menu);

  color: inherit;

  text-align: right;
}

li {
  display: inline-block;
  padding: 1rem;
}

nav > ul > li > a:hover,
footer > div > ul > li > a:hover {
  font-weight: var(--weight-menu_hover);
}

.nav__tablet,
.nav__mobile {
  max-height: 8.125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__tablet > img,
.img__mobile--logo {
  height: 60px;
  padding: 2rem 1rem;
}

.icon__menu {
  align-self: center;
  justify-self: center;

  padding: 2rem;
}

.banner__desktop,
.banner__tablet,
#partners,
#universities,
#papers,
#projects,
.whyElixir,
.elixir__features,
#how,
#requirements,
.research,
#faq,
hr,
.box__one,
.box__two {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 1rem;
}

.banner__desktop,
.banner__tablet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 1.5rem 0 5rem 0;
}

.img__logo {
  align-self: center;
  justify-self: center;

  margin: 0 auto;
  padding: 2rem;

  height: auto;
  max-width: 100%;
}

.banner__text--box {
  display: flex;
  justify-content: space-between;
}

.banner__text--small {
  align-self: end;

  font-size: 0.875rem;
  padding: 0 0 0.25rem 1rem;
}

.img__circle {
  padding: 0 3rem;
  max-width: 50px;
}

.banner__text--big {
  max-width: 580px;
  font-size: 2rem;

  margin: 0.5rem auto 2rem auto;
  padding: 0 1rem;
}

.img__rectangle {
  max-width: 125px;
  padding: 0 1rem;
}

.topbar > a,
.banner__text > button > a:hover,
.projects__progress--item > a:hover,
.projects__progress--details > a:hover,
.papers__published--item > a:hover,
.papers__published--details > a:hover,
.papers__all > button > a:hover,
.research__field > div > p > a:hover,
.faq__questions > div > p > a:hover {
  text-decoration: underline;
}

h1 {
  font-size: var(--size-h1);
  font-weight: var(--weight-h1);
  line-height: var(--height-h1);
}

h2 {
  font-size: var(--size-h2);
  font-weight: var(--weight-h2);
  line-height: var(--height-h2);
}

.partners__title,
.universities__title,
.projects__title,
.papers__title,
#elixir,
#how,
#faq {
  margin-top: 5rem;
}

.research {
  margin-top: 3rem;
}

.partners__logo,
.universities__logo {
  margin-top: 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
  align-items: center;
  justify-items: center;
}

.partners__logo > img,
.universities__logo > img {
  max-width: 200px;
  padding: 1rem;
}

.partners__cta,
.universities__cta {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
}

hr {
  flex-grow: 1;

  opacity: 25%;
}

.projects__progress--list,
.papers__published--list {
  margin-top: 1rem;
}

.projects__progress--item,
.papers__published--item {
  padding: 1rem 0 1rem 0;
  line-height: 1.5rem;
}

.projects__progress--item > a,
.projects__progress--details > a,
.papers__published--item > a,
.papers__published--details > a,
.research__field > div > p > a,
.requirements__items > div > p > a,
.how__step > div > p > a,
.faq__questions > div > p > a {
  font-weight: 600;
  color: var(--purple-600);
}

.projects__progress--details,
.papers__published--details {
  padding-top: 0.25rem;
}

.whyElixir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 0 1rem;
}

.whyElixir__box {
  max-width: 36.25rem;
}

.whyElixir__box > h1 {
  margin-top: 5rem;
}

.whyElixir__description {
  margin-top: 2rem;

  line-height: 1.5rem;
}

.whyElixir__description > p {
  padding: 0.5rem 0;
}

.whyElixir__logo {
  margin: 2rem auto;
}

.elixir__features,
.how__step,
.requirements__items,
.research__field {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5rem 4rem;

  padding: 2.5rem 0 5rem 0;
}

.faq__tittle {
  margin-top: 2rem;
}

.faq__questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 0 5rem 0;
}

div[class^="elixir__features--"] > p,
div[class^="how__step--"] > p,
div[class^="requirements__items--"] > p,
div[class^="research__field--"] > p {
  margin-top: 1rem;

  line-height: 1.5rem;
}

.research__field--6 {
  display: grid;
}

.img__oval {
  align-self: center;
  padding: 1rem;
}

.img__square {
  align-self: center;
  justify-self: end;
  padding: 1rem;
}

div[class^="faq__questions--"] > p {
  margin-top: 0.5rem;

  line-height: 1.5rem;
}

footer {
  background-color: var(--purple-600);
  color: white;

  padding-bottom: 5rem;
}

.box__one {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.box__text {
  max-width: 23.75rem;
  padding: 2rem 0;

  line-height: 1.5rem;
}

.box__img {
  margin-top: 5rem;
}

.nav__footer {
  margin-top: 5.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: flex-start;
}

.nav__top {
  display: inline-block;
  min-width: 60px;
  padding: 1rem 0 1rem 1rem;
  line-height: 1.5rem;
}

.box__two > p {
  padding: 1rem 0;
}

.box__two > div > p {
  padding: 1rem;
}

.box__socialmedia {
  text-align: center;
}

.box__socialmedia > img {
  padding: 0 0.25rem;
}

.box__socialmedia > img > p {
  padding: 0.5rem;
}

.box__socialmedia > p > a {
  font-size: var(--size-body);
  color: var(--purple-200);
}

.box__socialmedia > p > a:hover {
  font-weight: var(--weight-menu_hover);
}

@media (min-width: 1056px) {
  /* Menu de Navegação */
  nav.nav__mobile {
    display: none;
  }
  nav.nav__tablet {
    display: none;
  }

  /* Banner do Site */
  div.banner__tablet {
    display: none;
  }
}

@media (max-width: 1055px) {
  /* Menu de Navegação */
  nav.nav__desktop {
    display: none;
  }
  nav.nav__mobile {
    display: none;
  }

  /* Banner do Site */
  div.banner__desktop {
    display: none;
  }
  div.banner__tablet {
    justify-content: center;
  }
}

@media (max-width: 717px) {
  /* Menu de Navegação */
  nav.nav__tablet {
    display: none;
  }
  nav.nav__mobile {
    display: flex;
  }

  /* Linhas nos botões*/
  .partners__cta > hr {
    display: none;
  }
  .universities__cta > hr {
    display: none;
  }
}

@media (max-width: 791px) {
  /* sessão por que Elixir*/
  .whyElixir__box--mobile {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .whyElixir__box--mobile > img {
    padding-left: 1rem;
    width: 100px;
    height: 100%;
  }
  .whyElixir__box > h1,
  .whyElixir__logo {
    display: none;
  }
}

@media (min-width: 792px) {
  /* remove logo mobile */
  .whyElixir__box--mobile {
    display: none;
  }
}

@media (max-width: 655px) {
  /* remove as figuras decorativas na sessão pq elixir */
  .research__field--6 {
    display: none;
  }
}

@media (max-width: 495px) {
  /* remove os &nbsp; em universidades */
  div.universities__logo > span {
    display: none;
  }
}

@media (max-width: 604px) {
  /* remove nav do footer e coloca TOPO */
  .nav__footer {
    display: none;
  }

  .box__one {
    display: block;
  }

  .box__one--mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .box__img {
    width: 150px;
    height: auto;
  }
}

@media (min-width: 605px) {
  /* remove TOPO do nav__footer */
  .nav__top {
    display: none;
  }
}
