.button {
  background-color: var(--purple-main);

  text-align: center;
  font-family: inherit;
  font-weight: 600;
  font-size: var(--family-size);
  color: white;

  padding: 1rem 6rem;

  border: none;
}

.button--outlined {
  background-color: unset;

  color: var(--purple-main);

  border: 4px solid var(--purple-main);

  padding: 1rem 7rem;
}

.button--none {
  background-color: unset;

  color: var(--purple-main);

  padding: 1rem 0rem;
}

.button--darkText {
  background-color: unset;

  color: var(--purple-600);

  padding: 1rem 4rem;
}
